::ng-deep .ng-sidebar{
  background-color: #f4f4f4 ;
  width: 500px;
  box-shadow: 0 0 2.5em rgba(85, 85,85, 0.5);
  height: 100vh;
}


.button-align{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set-card{
  height: 100%;
}

.form-group2 {
  margin-bottom: 5.5rem;
}

.form-title{
  margin-bottom: 5.5rem;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item  {
  background: linear-gradient(to right, #da8cff, #9a55ff) !important;
  border: 2px solid!important;
}


::ng-deep .multiselect-dropdown .multiselect-item-checkbox input + div:before{
  background: linear-gradient(to right, #da8cff, #9a55ff) !important;
  border: 2px solid #da8cff!important;
}



