<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav" style="margin-top: 112px;">
    <li class="nav-item" [ngClass]="{ 'active': myGroups.isActive }">
      <a class="nav-link" routerLink="/myGroups" routerLinkActive #myGroups="routerLinkActive">
        <span class="menu-title">My Groups</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': openedTasks.isActive }">
      <a class="nav-link" routerLink="/myOpenedTasks" routerLinkActive #openedTasks="routerLinkActive">
        <span class="menu-title">My Opened Tasks</span>
        <i class="mdi mdi-library menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': completedTasks.isActive }">
      <a class="nav-link" routerLink="/myCompletedTasks" routerLinkActive #completedTasks="routerLinkActive">
        <span class="menu-title">My Completed Tasks</span>
        <i class="mdi mdi-checkbox-marked-circle menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': myTeamsTasks.isActive }">
      <a class="nav-link" routerLink="/myTeams" routerLinkActive #myTeamsTasks="routerLinkActive">
        <span class="menu-title">My Teams Tasks</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': addTask.isActive }">
      <a class="nav-link" routerLink="/addTask" routerLinkActive #addTask="routerLinkActive">
        <span class="menu-title">Add Task</span>
        <i class="mdi mdi-plus menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': addGroup.isActive }">
      <a class="nav-link" routerLink="/addGroup" routerLinkActive #addGroup="routerLinkActive">
        <span class="menu-title">Add Group</span>
        <i class="mdi mdi-account-multiple-plus menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': userProfile.isActive }">
      <a class="nav-link" routerLink="/userProfile" routerLinkActive #userProfile="routerLinkActive">
        <span class="menu-title">User Profile</span>
        <i class="mdi mdi-account-circle menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
