::ng-deep .multiselect-dropdown .dropdown-btn .selected-item  {
  background: linear-gradient(to right, #da8cff, #9a55ff) !important;
  border: 2px solid!important;
}


::ng-deep .multiselect-dropdown .multiselect-item-checkbox input + div:before{
  background: linear-gradient(to right, #da8cff, #9a55ff) !important;
  border: 2px solid #da8cff!important;
}
