<div class="container-scroller">

  <app-navbar></app-navbar>

  <div class="container-fluid page-body-wrapper">

    <app-sidebar></app-sidebar>

    <div class="main-panel">
      <div class="content-wrapper">

        <div class="row" style=" margin-top: 112px; margin-right: unset!important; margin-left: unset!important;">
          <div class="col-md-3 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
              <div class="card-body">
                <img src="{{circleImage}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Status <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Task Name</h2>
                <p>What to do</p>
                <div class="button-align">
                  <button class="btn btn-light mr-5">Reassign</button>
                  <button class="btn btn-light">Claim</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
              <div class="card-body">
                <img src="{{circleImage}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Status <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Task Name</h2>
                <p>What to do</p>
                <div class="button-align">
                  <button class="btn btn-light mr-5">Reassign</button>
                  <button class="btn btn-light">Claim</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
              <div class="card-body">
                <img src="{{circleImage}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Status <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Task Name</h2>
                <p>What to do</p>
                <div class="button-align">
                  <button class="btn btn-light mr-5">Reassign</button>
                  <button class="btn btn-light">Claim</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
              <div class="card-body">
                <img src="{{circleImage}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Status <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Task Name</h2>
                <p>What to do</p>
                <div class="button-align">
                  <button class="btn btn-light mr-5">Reassign</button>
                  <button class="btn btn-light">Claim</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
