<div class="container-scroller">

  <app-navbar></app-navbar>

  <div class="container-fluid page-body-wrapper">

    <app-sidebar></app-sidebar>

    <div class="main-panel">
      <div class="content-wrapper">

        <div class="row" style=" margin-top: 112px; margin-right: unset!important; margin-left: unset!important;">
          <div class="col-md-4 stretch-card grid-margin" *ngFor="let task of finalList">
            <div class="card bg-gradient-primary card-img-holder text-white">
              <div class="card-body">
                <img src="{{circleImage}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">{{task.status}} <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{task.title}}</h2>
                <div class="row">
                  <div class="col-md-6">
                    <p>What to do: {{task.content}}</p>
                  </div>
                  <div class="col-md-6">
                    <p>Assigned Users/Groups:</p>
                    <div *ngIf="task.claimedBy === null">
                      <ul *ngFor="let group of task.groups">
                        <li>{{group.name}}</li>
                        <ul *ngFor="let user of group.userDtoSet">
                          <li>{{user.fullname}}</li>
                        </ul>
                      </ul>
                    </div>
                    <div class="mb-3" *ngIf="task.claimedBy != null">
                      <ul>
                        <li>{{task.claimedBy.fullname}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="button-align">
                  <button class="btn btn-light mr-2" (click)="submitTask(task.id)" *ngIf="!isSubmitted">Submit</button>
                  <button class="btn btn-light" (click)="claimTask(task.id)" *ngIf="task.isClaimed && !isClaimed">Claim</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
