<div class="container-scroller">

<app-navbar></app-navbar>

  <div class="container-fluid page-body-wrapper">

 <app-sidebar></app-sidebar>

    <div class="main-panel">
      <div class="content-wrapper">

          <div class="row" style="margin-top: 112px; margin-right: unset!important; margin-left: unset!important;">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body card-align">
                  <h1 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                        <i class="mdi mdi-home"></i>
                     </span> Welcome to HomeManagement Platform
                  </h1>
                  <h4>
                    Hello there!
                  </h4>
                  <p>
                    You have registered for the most innovative home-management platform the internet has ever seen in
                    years!
                  </p>
                </div>
              </div>
            </div>
        </div>

        <div class="row" style="margin-right: unset!important; margin-left: unset!important;">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Gallery</h4>
                <div class="row mt-3">
                  <div class="col-6 pr-1">
                    <img src="{{img1}}" class="mb-2 mw-100 w-100 rounded" alt="image">
                    <img src="{{img2}}" class="mw-100 w-100 rounded" alt="image">
                  </div>
                  <div class="col-6 pl-1">
                    <img src="{{img3}}" class="mb-2 mw-100 w-100 rounded" alt="image">
                    <img src="{{img4}}" class="mw-100 w-100 rounded" alt="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->




